@import './mixin.scss';

@include loop-space(40);

.is-show {
  display: inherit;
}
.is-show-i {
  display: inline;
}

.is-show-ib {
  display: inline;
}

.is-hide {
  display: none;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.row {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.img-row {
  display: block;
  width: 100%;
}

.img-responsive {
  display: inline-block;
  max-width: 100%;
}

.flex {
  display: flex;

  &.f-center {
    align-items: center;
  }
}

.flex-item {
  flex: 1;
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.text-overflow {
  @include text-overflow();
}
