/* 基础颜色变量 */
$blue: #2a80eb;
$dark-blue: #0057c3;
$dark: #4c5161;
$gray: #a2a9b6;
$dark-gray: #b6bbc6;
$light: #f7f9fa;
$white: #fff;
$black: #000;
$green: #1cad70;
$orange: #f59b00;
$red: #eb4646;
/* disabled 禁用色 */
$disabled: #ccd0d7;
/* 边框颜色 */
$border: #d0d0d5;
/* 深一点的边框颜色 */
$dark-border: #ababaf;
/* 浅一点的边框颜色 */
$light-border: #ededef;
