$white: #fff;
$black: #000;
$primary-color: #38f;
$danger-color: rgb(255, 112, 87);

.button {
  background-color: $white;
  &::after {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &.button-primary {
    background-color: $primary-color;
    color: $white;
    &::after {
      border: 1px solid transparent;
    }
  }
  &.button-danger {
    background-color: $danger-color;
    color: $white;
    &::after {
      border: 1px solid transparent;
    }
  }
}
